.about-us {}

.about-us__inner {
  padding-top: 220px;
}

.about-us__img {
  margin-right: 142px;
  width: 650px;
  height: 477px;
}

.about-us__inner-next {}

.about-us__shrift {
  margin-bottom: 26px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.about-us__shrift-next {
  width: 254px;
  margin-bottom: 26px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #000000;
  mix-blend-mode: normal;
}
.about-us__img-next {
  margin-left: 71px;
  width: 665px;
  height: 434px;
}
.about-us__inner-continue {
  margin-right: 60px;
  display: flex;
  margin-bottom: 229px;
}
.about-us__inner-continue-next {
  margin-left: 60px;
  display: flex;
  margin-bottom: 229px;
}

.about-us__solid {
  margin-bottom: 31px;
  margin-bottom: 36px;
  width: 56px;
  height: 2px;
  background-color: #000000;
  border-radius: 5px;
}

.about-us-text {
  margin-bottom: 37px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
}
.about-us-text-next {
  width: 420px;
  margin-bottom: 37px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  mix-blend-mode: normal;
}